body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav{

    margin-top: 26px;
}


nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
 
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 5px rgba(165, 112, 112, 0.1);
}

.product img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.cart {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
}

button {
  background: #008CBA;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #006080;
}


