.image-container{
  width: 100%;
  height: 85vh;
  background-image: url("../images/banner04.jpg");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  display: flex;                       
  justify-content: center;     
  color: white;             
  text-align: center;        
}

.home-welcome{
 margin-top: 15%;
  
}
.home-welcome h2{
  font-size: 45px;
  color: rgba(236, 238, 232, 0.8);
   text-shadow: rgb(203, 208, 103);
}
.home-welcome p{
  font-size: 20px;
  color: rgba(75, 108, 141, 0.9);
  font-weight: 700;
}
.home-welcome a:hover{
  text-shadow: rgb(232, 175, 68);
}

.home-welcome a{
  color: white;
  background-color: #aec35c;
  padding: 10px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid olivedrab;
}

.img-loing{
  margin-top: 15px;
  width: 55px;
}